table{
    border: 1px solid rgb(153, 62, 62);
    border-collapse: collapse;
    background-color: #da9872;
    position: relative;
    
    margin: 0px 50px 100px 500px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(211, 104, 104);
    background-color: burlywood;
    color: rebeccapurple;
    text-align: center;
  }

tr{
    border-bottom: 1px solid rgb(211, 104, 104);
    background-color: burlywood;
}